{% extends 'base.html.twig' %}

{% block title %}Testez votre solution PHP !{% endblock %}

{% block body %}
	<div class="row">
		<h4>Détails : {{ show.appGitLink }}</h4>
	</div>
		<table class="table table-dark table-striped">
			<thead>
				<tr>
					<th scope="col">Lignes</th>
					<th scope="col">Messages</th>
					<th scope="col">Vérifications</th>
					<th scope="col">Niveaux</th>
				</tr>
			</thead>
			<tbody>
				{% for item in detail %}
					{% for data in item %}
						{% for value in data %}
							<tr>
								<td>{{ value.line }}</td>
								<td>{{ value.message }}</td>
								<td>{{ value.check }}</td>	
								<td>{{ value.level }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
				{% endfor %}
			</tbody>
        </table>
		
		
	<div class="row justify-content-center">
		<div class="col-md-3">
			<a href="{{ ('/') }}" class="btn btn-primary">Retour à la page d'accueil</a>
		</div>
	</div>
{% endblock %}